body {
    background-color: #e2e2e2;
    min-width: 1000px;
}

#root .errors {
    color: #FF0000;
    list-style-position: inside;
}

#root a:link, #root a:focus, #root a:visited, #root a:active {
    color:#1b1d1f;
    text-decoration: none;
}

#root a:hover {
    color: #FFFF88;
    text-decoration: none;
}

#root a.add2:hover {
	color: #74864B;
	text-decoration: none;
}

#root table tr, #root table td, #root table th {
    border: #000000 1px solid;
    color: #1B1D1F;
    padding:2px;
    font-size: 10px;
}

#root table .specialOne {
    background-color: #FFFFFF;
}
#root table .specialTwo {
    background-color: #EEEEEE;
}

#root table .specialOne:hover, #root table .specialTwo:hover {
    background-color: #FFFF88;
}

#header {
    background-color: #74864b;
    background-image:url("../../images/default/logo_cp.png");
    background-repeat:no-repeat;
    background-position:10px;
    width: 100%;
    height: 86px;
    border-bottom: #000000 solid 1px;
}

#root h1 {
    font-size: medium;
    background-color: #74864b;
    color: #1B1D1F;
    padding:5px;
    border-bottom: 1px solid #36393D;
}

#content {
    float: left;
    width: 730px;
    background-color: #F9F7ED;
    border: #36393D solid 1px;
    margin-left: 10px;
}

#root .navigation {
    list-style-image:url("../../images/default/list_style_image.png");
    list-style-position:inside;
    background-color: #74864b;
    border: 1px solid #36393D;
    margin-left:10px;
}
#admin-menu {	
    float: left;
    width: 250px; 
}

#admin-menu ul, #admin-menu ul li {	
    padding-left: 5px;
}

#admin-menu ul li a {	
    width: 150px;
    font-weight: bold;
}

#admin-menu ul li a:hover {
    color: #FFFF88;
}

#root a.systemInfo {
    width: 70%;
}

#root .systeminfo th {
    margin: 5px;
    width: auto;
}

#root .systeminfo td {
    margin: 5px;
}

#root .spacer {
    height: 10px;
    width: 100%;
}

#root .gray {
    border-top: #B2B2B2 solid 1px;
    margin-bottom: 10px;
    background-color: #36393D;
}

#root .admin-box {
    border: #000 solid 1px;
    margin: 10px;
    padding: 5px;
}

#root .admin-box .actions {
    margin-top: 10px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -5px;
    padding: 2px;
    background-color: #AAA;	
}

#root .paginationControl {
    float:left;
    width: 730px;
    text-align: center;
}

#root .add {
	padding:5px;
}

#root .info {
	padding:5px;
}

#addnews {
	padding:5px;
}

#addproject {
	padding:5px;
}

#addprojectepisode {
	padding:5px;
}

#addprojectscreenshot {
	padding:5px;
}

#adduser {
	padding:5px;
}

#addtask {
	padding:5px;
}

#profile {
	padding:5px;
}

#yes-element {
	padding:5px;
}

#no-element {
	padding:5px;
}

#editnews {
	padding:5px;
}

#editproject {
	padding:5px;
}

#editprojectepisode {
	padding:5px;
}

#editprojectscreenshot {
	padding:5px;
}

#edituser {
	padding:5px;
}

#edittask {
	padding:5px;
}

#root .success {
	border-bottom: 1px solid #36393D; 
	padding: 5px; 
	background: #0F7;
}
	
/* now the styles for the icons in the menus */
.tableAction span {
    position: absolute;
    left: -99999em;
}
.tableAction {
    height: 16px;
    width: 16px;
    margin-left: 5px;
    position: static;
    float: left;
    background-repeat: no-repeat;
}
/* now the specific icons */
.news_comments_table_action  {
    background-image: url("../../images/default/icons/16/balloon.png");
}
.news_edit_table_action  {
    background-image: url("../../images/default/icons/16/document--pencil.png");
}
.news_delete_table_action  {
    background-image: url("../../images/default/icons/16/document--minus.png");
}
.user_edit_table_action  {
    background-image: url("../../images/default/icons/16/user--pencil.png");
}
.user_delete_table_action  {
    background-image: url("../../images/default/icons/16/user--minus.png");
}
.user_edit_task_table_action  {
    background-image: url("../../images/default/icons/16/wrench--pencil.png");
}
.user_delete_task_table_action  {
    background-image: url("../../images/default/icons/16/wrench--minus.png");
}
.project_edit_table_action  {
    background-image: url("../../images/default/icons/16/folder--pencil.png");
}
.project_delete_table_action  {
    background-image: url("../../images/default/icons/16/folder--minus.png");
}
.project_episodes_table_action  {
    background-image: url("../../images/default/icons/16/monitor.png");
}
.project_screenshots_table_action  {
    background-image: url("../../images/default/icons/16/picture.png");
}
.project_edit_episode_table_action  {
    background-image: url("../../images/default/icons/16/monitor--pencil.png");
}
.project_delete_episode_table_action  {
    background-image: url("../../images/default/icons/16/monitor--minus.png");
}
.project_edit_screenshot_table_action  {
    background-image: url("../../images/default/icons/16/picture--pencil.png");
}
.project_delete_screenshot_table_action  {
    background-image: url("../../images/default/icons/16/picture--minus.png");
}
