* {
    margin: 0px;
    padding: 0px;
    font-family: verdana;
    font-size: 11px;
}

#root img {
    border: none;
}

#root a:link, #root a:focus, #root a:visited, #root a:active {
    color: #d2d2d1;
    text-decoration: none;
}
#root a:hover {
    color: orange;
    text-decoration: none;
}

#root p {

}

#root h1 {
    color:#fbb829;
    font-size: 18px;
    font-weight: bold;
}

#root h2 {
    color:#fbb829;
    font-size: 16px;
    font-weight: bold;
}

#root h3 {
    color:#fbb829;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

#root ol {
    padding-left: 20px;
}

#root table {
    width: 100%;
}

#root table th {
    background-color: #FFFF88;
    color: #1b1d1f;
}

#root table .specialOne {
    background-color: #555;
}

#root table .specialTwo {
    background-color: #777;
}

#root table .specialOne:hover, table .specialTwo:hover {
    background-color: #999;
}

#root .clearfix {
    clear: both;
}

#footer {
    text-align: center;
    margin-top: 10px;
}

#confirmation dd, #confirmation dt {
    float: left;
}

#root .button {
    border: #000000 1px solid;
    min-width: 50px;
    color:black;
}

#root .required {
    font-weight: bold;
}

#root .required:after {
    content: " *";
}

#root .infobox {
    width: 680px;
    border: #AAAAAA solid 1px;
    background-color: #333;
    color: #aaa;
    padding: 5px;
    margin-top:10px;
    margin-bottom: 10px;
}

#root .infobox span {
    color: #ddd;
}

#root .zend_form dd img {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}