* {
    margin: 0px;
    padding: 0px;
    font-family: verdana;
    font-size: 11px;
}

img {
    border: none;
}

a:link, a:focus, a:visited, a:active {
    color: #d2d2d1;
    text-decoration: none;
}
a:hover { 
    color: orange; 
    text-decoration: none;
} 

p {

}

h1 {
    color:#fbb829;
    font-size: 18px;
    font-weight: bold;
}

h2 {
    color:#fbb829;
    font-size: 16px;
    font-weight: bold;
}

h3 {
    color:#fbb829;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

ol {
    padding-left: 20px;
}

table {
    width: 100%;
}

table th {
    background-color: #FFFF88;
    color: #1b1d1f;
}

table .specialOne {
    background-color: #555;
}

table .specialTwo {
    background-color: #777;
}

table .specialOne:hover, table .specialTwo:hover {
    background-color: #999;
}

.clearfix {
    clear: both;
}

#root {
    padding: 20px;
    color: #FFF;
    width: 990px;
    margin: auto;
}

#footer {
    text-align: center;
    margin-top: 10px;
}

#confirmation dd, #confirmation dt {
    float: left;
}

.button {
    border: #000000 1px solid;
    min-width: 50px;
    color:black;
}

.required {
    font-weight: bold;
}

.required:after {
    content: " *";
}

.infobox {
    width: 680px;
    border: #AAAAAA solid 1px;
    background-color: #333;
    color: #aaa;
    padding: 5px;
    margin-top:10px;
    margin-bottom: 10px;
}

.infobox span {
    color: #ddd;
}

.zend_form dd img {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}